[submodule "clipp"]
    path = clipp
    url = https://github.com/muellan/clipp.git
[submodule "fmt"]
    path = fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "json"]
    path = json
    url = https://github.com/nlohmann/json.git
[submodule "cmake"]
    path = cmake
    url = https://github.com/cubao/cmake.git
[submodule "mongoose"]
    path = mongoose
    url = https://github.com/cesanta/mongoose.git
[submodule "cpp-taskflow"]
	path = cpp-taskflow
	url = git://github.com/cpp-taskflow/cpp-taskflow.git
[submodule "RxCpp"]
	path = RxCpp
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "cpptqdm"]
	path = cpptqdm
	url = https://github.com/aminnj/cpptqdm.git
[submodule "fx-gltf"]
	path = fx-gltf
	url = https://github.com/jessey-git/fx-gltf.git
